{% extends "base.html" %}

{% block content %}

    <h1>Lisää oma viiniarvostelu</h1>

    <h2>Valittu viini: {{wine.name}}</h2>
    
    <form method="post" action="{{base_path}}/review">
    <input type="hidden" class="form-control" name="wineid" value="{{wine.id}}">
    <p>Sanallinen arvio</p>
    <textarea class="form-control" rows="3" name="reviewtext">{{review.reviewtext}}</textarea>
    <p>Arvio (tähdet)</p>
    <select class="form-control" name="stars">
            <option value="1">*</option>
            <option value="2">**</option>
            <option value="3">***</option>
            <option value="4">****</option>
            <option value="5">*****</option>
    </select>


    <p>
    Valitse sopivat tägit:
    {% for tag in tags %}
        <input type="checkbox" id="inlineCheckbox1" name="tags[]" value="{{tag.id}} "> {{tag.tagtext}} 
    {%endfor%}
    </p>

    <p>
    <button type="submit" class="btn btn-default">Lähetä</button>
    </p>


    </form>
{% endblock %}
