{% extends "base.html" %}

{% block content %}
    <h1>Lista viineistä</h1>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Tyyppi</th>
          <th>Arviot</th>
        </tr>
      </thead>
      <tbody>
          {% for wine in wines %}
        <tr>
          <td><a href="{{base_path}}/wine/{{wine.id}}">{{wine.name}}</a></td>
          <td>{{wine.type}}</td>
          <td>{{wine.starstring()}} ({{wine.reviewcount}})</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if user_logged_in %}
    <p>
       <a href="{{base_path}}/wine/new" class="btn btn-default">Lisää viini</a>
    </p>
    {% endif %}

{% endblock %}
