{% extends "base.html" %}

{% block content %}
    <h1>Lista viineistä</h1>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nimi </th>
          <th>Tyyppi </th>
          <th>Arviot </th>
          <th>Lukumäärä </th>
        </tr>
      </thead>
      <tbody>
          {% for wine in wines %}
        <tr>
          <td><a href="{{base_path}}/wine/{{wine.id}}">{{wine.name}}</a></td>
          <td>{{wine.type}}</td>
          <td>
            {% if wine.reviewcount %}
              <span data-toggle="tooltip" title="{{wine.reviewstars|number_format(2)}}">
                {% for i in 1..wine.reviewstars|round(0) %}<span class="glyphicon glyphicon-star"></span>{% endfor %}
                
            {% else %}
              Ei arvioita
            {% endif %}
          </td>
          <td>
              <span class="badge">{{wine.reviewcount}} kpl</span></span>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if user_logged_in %}
    <p>
       <a href="{{base_path}}/wine/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Lisää viini</a>
    </p>
    {% endif %}

{% endblock %}
