{% extends "base.html" %}

{% block content %}

    <h1>{{wine.name}}</h1>
      <ul>
        <li><strong>Alkuperä: </strong>{{wine.region}} </li>
        <li><strong>Tyyppi: </strong>{{wine.type}}</li>
        <li><strong>Arviot: </strong>{{starstring}} ({{wine.reviewcount}})</li>
      </ul>

      <p>
        {{wine.winetext}}
      </p>

      {% if user_logged_in %}
      <p>
          <a href="{{base_path}}/wine/edit/{{wine.id}}" class="btn btn-default">Muokkaa tietoja</a> 
          <a href="{{base_path}}/wine/delete/{{wine.id}}" class="btn btn-default">Poista</a> 
          <a href="winereview" class="btn btn-default">Lisää oma arvio (under construction)</a>
      </p>
      {% endif %}
      
      
      <h2>Arviot</h2>
      <p><strong>Huom! Alla oleva on vielä tässä vaiheessa staattista testidataa.</strong></p>
      <p>Arvioita yhteensä</p>
    


      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>Vieno tuoksu, kevyt ja miellyttävä maku. Hieman karhea jälivaikutelma. </td>
            <td><label class="label label-info">hunaja</label> <label class="label label-info">mustikka</label></td>
            <td>Matti</td>
            <td>****</td>

          </tr>
          <tr>
            <td>Kirsikkainen ryhdikäs maku. Sopivan hapokas. Ruokasuositus: kala tai vaalea liha. </td>
            <td><label class="label label-info">kirsikka</label> <label class="label label-info">raikas</label></td>
            <td>Maija</td>
            <td>*****</td>
          </tr>
        </tbody>
      </table>






{% endblock %}