{% extends "base.html" %}

{% block content %}

    <h1>{{wine.name}}</h1>
      <ul>
        <li><strong>Alkuperä: </strong>{{wine.region}} </li>
        <li><strong>Tyyppi: </strong>{{wine.type}}</li>
        <li><strong>Arviot: </strong>{{starstring}} ({{wine.reviewcount}})</li>
      </ul>

      <p>
        {{wine.winetext}}
      </p>

      {% if user_logged_in %}
      <p>
          <a href="{{base_path}}/wine/edit/{{wine.id}}" class="btn btn-default">Muokkaa tietoja</a> 
          <a href="{{base_path}}/wine/delete/{{wine.id}}" class="btn btn-default">Poista</a> 
          <a href="winereview" class="btn btn-default">Lisää oma arvio (under construction)</a>
      </p>
      {% endif %}

      <h2>Arviot</h2>
      <table class="table table-bordered table-striped">
        <tbody>
            {% for review in reviews %}
          <tr>
            <td>{{review.reviewtext}}</td>
            <td>Tagit: {{review.tags.tagtext}}
              
              {% for tag in review.tags %}
              <label class="label label-info"> 
              {{tag.tagtext}} 
              </label>&nbsp
              {% endfor %}
              
              
              </td>
            <td>User: {{review.userid}}</td>
            <td>Stars: {{review.stars}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}