{% extends "base.html" %}

{% block content %}

    <h1>{{wine.name}} (wine_show.html)</h1>
      <div class="alert alert-success">
        {{message}}
      </div>
      <ul>
        <li><strong>Alkuperä: </strong>{{wine.region}} </li>
        <li><strong>Tyyppi: </strong>{{wine.type}}</li>
        <li><strong>Arviot: </strong>{{starstring}} ({{wine.reviewcount}})</li>
      </ul>

      <p>
        {{wine.winetext}}
      </p>

      <h1>Arviot</h1>
      <p><strong>Huom! Alla oleva on vielä tässä vaiheessa staattista testidataa.</strong></p>
      <p>Arvioita yhteensä</p>
    

      <p> <a href="winereview" class="btn btn-default">Lisää oma arvio</a>

      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>Vieno tuoksu, kevyt ja miellyttävä maku. Hieman karhea jälivaikutelma. </td>
            <td><label class="label label-info">hunaja</label> <label class="label label-info">mustikka</label></td>
            <td>Matti</td>
            <td>****</td>

          </tr>
          <tr>
            <td>Kirsikkainen ryhdikäs maku. Sopivan hapokas. Ruokasuositus: kala tai vaalea liha. </td>
            <td><label class="label label-info">kirsikka</label> <label class="label label-info">raikas</label></td>
            <td>Maija</td>
            <td>*****</td>
          </tr>
        </tbody>
      </table>






{% endblock %}