{% extends "base.html" %}

{% block content %}
    <h1>Lista viineistä (wine_list.html)</h1>
  
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Tyyppi</th>
          <th>Arviot</th>
        </tr>
      </thead>
      <tbody>
          {% for wine in wines %}
        <tr>
          <td><a href="wineshow">{{wine.name}}</a></td>
          <td>{{wine.type}}</td>
          <td>{% for i in 1..wine.reviewstars %}*{% endfor %}   ({{wine.reviewcount}} arviota)</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>
       <a href="{{base_path}}/wine/new" class="btn btn-success">Lisää viini</a>
    </p>
    


{% endblock %}
