{% extends "base.html" %}

{% block content %}
    <h1>Lista viineistä</h1>
  
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nimi</th>
          <th>Tyyppi</th>
          <th>Arviot</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="wineshow">Bouchard La Vignée Pinot Noir 2015</a></td>
          <td>punaviini</td>
          <td>*** 3.4 (7 arviota)</td>
        </tr>
        <tr>
          <td><a href="wineshow">Bernard Massard</a></td>
          <td>kuohuviini</td>
          <td>**** 4.2 (73 arviota)</td>
        </tr>
      </tbody>
    </table>


{% endblock %}
