{% extends "base.html" %}

{% block content %}

    <h1>Viinin tietosivu</h1>
      <ul>
        <li><strong>Nimi:</strong> Bouchard La Vignée Pinot Noir 2015</li>
        <li><strong>Alkuperä:</strong> Ranska, Bourgogne </li>
        <li><strong>Tyyppi:</strong> punaviini</li>
      </ul>

      <p>
        Kevyt, punasävytteisen marjainen, karpaloon ja kirsikkaan vivahtava punaviini vaalean lihan seuraan.
      </p>

      <h1>Arviot</h1>

      <p> <a href="winereview" class="btn btn-default">Lisää oma arvio</a>

      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>Vieno tuoksu, kevyt ja miellyttävä maku. Hieman karhea jälivaikutelma. </td>
            <td><label class="label label-info">hunaja</label> <label class="label label-info">mustikka</label></td>
            <td>Matti</td>
            <td>****</td>

          </tr>
          <tr>
            <td>Kirsikkainen ryhdikäs maku. Sopivan hapokas. Ruokasuositus: kala tai vaalea liha. </td>
            <td><label class="label label-info">kirsikka</label> <label class="label label-info">raikas</label></td>
            <td>Maija</td>
            <td>*****</td>
          </tr>
        </tbody>
      </table>






{% endblock %}
